.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #341848, #151146);
}

.title {
  font-size: large;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 32px;
}

.description {
  margin-top: 8px;
  font-size: large;
  text-align: center;
  color: #ffffff;
}
